/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    padding:20px;
}

.circle{
    display: block;
    width: 150px;
    height: 150px;
    background-color: black;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
}